*{
  box-sizing: border-box;
}
h2{
    font-size: 44px;
    text-align: center;
}
table {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
  }
  table, th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  th {
    background-color: #b2b5dd;
    color: #333;
  }
  @media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr { border: 1px solid #ccc; }
    td { 
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%; 
    }
    td:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px; 
      white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Employee ID"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "Branch"; }
    td:nth-of-type(4):before { content: "Position"; }
    td:nth-of-type(5):before { content: "Salary"; }
  }